.nav{
    border:1px solid #ccc;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
    background-color: black;
      border-radius: 20px;
}
.nav li{
    display:inline;
    margin: 21px;
  
}
.nav a{
    display:inline-block;
    padding:20px;
    font-size: 23px;
    text-decoration:none ;
    color:white;
}

li a:hover {
    background-color: rgba(196, 160, 187, 0.61);
    color:rgb(204, 200, 194);
}

a{
    text-decoration: none;
}
table{
    margin: auto;
    padding: auto;
     border-spacing:37px;
}

table td{
    padding:63px;
    text-align: center;
    background-color:rgb(117, 116, 116) ;
    border-radius: 15px;
 
}

img{
    width: 55px;
    height: 55px;
}

span{
    font: 142% bold black;
}
section{
    border: 2px solid black;
    border-radius: 15px;
    margin: 35px;
}

section h1,section p{
    margin: 25px;
}
